@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(var(--background));
		--foreground: hsl(var(--foreground));
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.modalBlureStyle {
		@apply backdrop-blur-[.2rem] supports-[backdrop-filter]:bg-black/30;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 51 62% 43%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 1.2rem;
	}
	.dark {
		--background: 0 0% 9%;
		--foreground: 213 22% 90%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 220 4% 13%;
		--popover-foreground: 0 0% 98%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 51 62% 43%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	html {
		scrollbar-gutter: stable;
		font-size: calc(100vw / 1920 * 10);
		@media (max-width: 1366px) {
			font-size: calc(100vw / 1366 * 10);
		}
		@media (max-width: 1024px) {
			font-size: calc(100vw / 768 * 10);
		}
		@media (max-width: 767px) {
			font-size: calc(100vw / 500 * 10);
		}
		@media (max-width: 500px) {
			font-size: calc(100vw / 375 * 10);
		}

		scroll-behavior: smooth;
	}

	body {
		@apply bg-background text-base text-foreground;
		overflow-x: hidden;
		overflow-y: overlay;
		scrollbar-face-color: hsl(var(--foreground));
		scrollbar-track-color: hsl(var(--background));
	}

	.rating {
		@apply relative;
	}
	.rating:before {
		@apply absolute -left-[.48rem] top-[5.2rem] z-10 mt-[1.4rem] block h-0 w-0 text-0 content-[""];
		border-top: 0.7rem solid hsl(var(--primary));
		border-left: 0.4rem solid transparent;
	}

	.rating__inner:after {
		@apply top-[50%];

		border-bottom: 1.7rem solid hsl(var(--primary));
	}
	.rating__inner:before {
		border-top: 1.5rem solid hsl(var(--primary));
	}

	.rating__inner:after,
	.rating__inner:before {
		@apply absolute -left-[.48rem] top-[3.8rem] z-10 box-border h-7 w-[13.2rem] content-[""];
		border-right: 0.6rem solid transparent;
	}

	.rating__value {
		@apply absolute top-[4rem] z-20 flex h-6 justify-center font-bold text-destructive-foreground shadow-[0_0_1rem_hsl(var(--primary))];
	}

	::-webkit-scrollbar {
		@apply h-[0.3rem] w-[0.3rem];
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-foreground;
	}

	::-webkit-scrollbar-track {
		@apply bg-background;
	}
}
