@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(var(--background));
		--foreground: hsl(var(--foreground));
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.modalBlureStyle {
		@apply backdrop-blur-[.2rem] supports-[backdrop-filter]:bg-black/30;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 51 62% 43%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 1.2rem;
	}
	.dark {
		--background: 0 0% 9%;
		--foreground: 213 22% 90%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 220 4% 13%;
		--popover-foreground: 0 0% 98%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 51 62% 43%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	html {
		scrollbar-gutter: stable;
		font-size: calc(100vw / 1920 * 10);
		@media (max-width: 1366px) {
			font-size: calc(100vw / 1366 * 10);
		}
		@media (max-width: 1024px) {
			font-size: calc(100vw / 768 * 10);
		}
		@media (max-width: 767px) {
			font-size: calc(100vw / 500 * 10);
		}
		@media (max-width: 500px) {
			font-size: calc(100vw / 375 * 10);
		}

		scroll-behavior: smooth;
	}

	body {
		@apply bg-background text-foreground text-base;
		overflow-x: hidden;
		overflow-y: overlay;
		scrollbar-face-color: hsl(var(--foreground));
		scrollbar-track-color: hsl(var(--background));
	}

	::-webkit-scrollbar {
		@apply w-[0.3rem] h-[0.3rem];
	}

	::-webkit-scrollbar-thumb {
		@apply bg-foreground rounded-lg;
	}

	::-webkit-scrollbar-track {
		@apply bg-background;
	}
	.typ h1 {
		@apply scroll-m-20 text-heading font-bold tracking-tight;
	}

	.typ h2 {
		@apply scroll-m-20 border-b pb-2 text-3xl font-bold tracking-tight first:mt-0;
	}

	.typ h3 {
		@apply scroll-m-20 text-2xl font-bold tracking-tight;
	}

	.typ h4 {
		@apply scroll-m-20 text-xl font-bold tracking-tight;
	}

	/* Paragraphs */
	.typ p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}

	/* Large text */
	.typ .lead {
		@apply text-xl text-muted-foreground;
	}

	/* Small text */
	.typ small {
		@apply text-xs font-medium leading-none;
	}

	/* Muted text */
	.typ .muted {
		@apply text-xs text-muted-foreground;
	}

	/* Blockquotes */
	.typ blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}

	/* Lists */
	.typ ul {
		@apply my-6 ml-6 list-disc [&>li]:mt-2;
	}

	.typ ol {
		@apply my-6 ml-6 list-decimal [&>li]:mt-2;
	}

	/* Links */
	.typ a {
		@apply font-medium text-primary underline underline-offset-4;
	}

	/* Code */
	.typ code {
		@apply relative bg-muted px-[0.3rem] py-[0.2rem] text-xs font-bold;
	}

	/* Pre (for code blocks) */
	.typ pre {
		@apply mb-4 mt-6 overflow-x-auto rounded-lg border bg-black py-4;
	}

	.typ pre code {
		@apply relative bg-transparent px-[0.3rem] py-[0.2rem] text-xs;
	}

	/* Table */
	.typ .table {
		@apply w-full overflow-auto;
	}

	.typ .table table {
		@apply w-full;
	}

	.typ .table th {
		@apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
	}

	.typ .table td {
		@apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
	}

	.typ .table tr:nth-child(even) {
		@apply bg-muted;
	}
}
